.root{
    /* height: 85vh; */
    height: auto;
    width: 90vw;
    border-radius: 0.5rem;
    background-color: rgb(128, 128, 128, 0.25);
    backdrop-filter: blur(2px);
    overflow-y: visible;
    scrollbar-width: none;
}

p{
    color: rgb(255, 240, 240);
    font-family: 'Times New Roman', Times, serif ;
    text-align: justify;
    border: 2px solid white;
    padding: 20px 20px 0px 20px;
    letter-spacing: 5px;
    margin-top: 0px;
    user-select: none;
}

#p1{
    font-size: 50px;
}

#p2{
    padding-top: 0px;
    letter-spacing: 1px;
    font-size: 18px;
    margin-top: 0px;
}

#p2 a{
    color: white;
    outline: none;
}

.imgPrev{
    width: 85%;
    border-radius: 0.75rem;
    border: 2px solid rgb(255, 240, 240);
    margin: 25px 0px 20px 18px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgPrev img{
    width: 100%;
    transform: scale(1.15);
    filter: brightness(0.8);
}

#prevImg{
    filter: brightness(0.75);
}

#p3{
    font-family: cursive;
    position: absolute;
    top: 5%;
    left: 0%;
    font-size: 1rem;
    text-align: center;
    /* border: 2px solid white; */
    opacity: 0.5;
}

button{
    all: unset;
    cursor: pointer;
    font-size: 25px;
    color: aliceblue;
    border: 2px solid rgb(255, 240, 240);
    border-radius: 0.5rem;
    padding: 5px 10px 5px 10px;
    margin: 15px 20px;
    letter-spacing: 1px;
}

button:hover{
    background-color: rgba(0, 0, 0,0.5);
    font-weight: 500;
    scale: 1.05;
    transition: background-color 0.5s ease-in-out, scale 0.5s ease-in-out;
}

@media only screen and (min-width: 321px){
    p{
        padding: 10px 20px 0px 20px;
    }
    #p3{
        top: 15%;
    }
    button{
        margin: 10px 20px;
    }
}

@media only screen and (min-width: 376px){
    p{
        padding: 5px 20px 0px 20px;
    }
    #p2{
        margin-top: 0px;
    }
    #p3{
        top: 20%;
    }
}

@media only screen and (min-width: 500px){
    p{
        text-align: left;
        margin-top: 10px;
    }
    #p3{
        font-size: x-large;
    }
}

@media only screen and (min-width: 625px){
    p{
        margin: 0px;
    }
    .imgPrev{
        width: 500px;
    }
    #p3{
        width: 20ch;
        top: 30%;
        left: 50px;
        font-size: xx-large;
    }
}

@media only screen and (min-width: 768px){
    .root{
        width: 75vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #p1{
        /* width: 20ch; */
        font-size: 70px;
        overflow: visible;
        text-align: center;
    }
    #p2{
        overflow: visible;
    }
}