.root,.child{
    min-height: 85vh;
    width: 90vw;
    border-radius: 0.5rem;
    background-color: rgb(128, 128, 128, 0.25);
    backdrop-filter: blur(2px);
    overflow-y: visible;
    scrollbar-width: none;
    z-index: 0;
}

.child{
    padding: 10px;
    z-index: -1;
    position: absolute;
    visibility: hidden;
}

p{
    color: rgb(255, 240, 240);
    font-family: 'Times New Roman', Times, serif ;
    text-align: justify;
    padding: 20px 20px 0px 20px;
    letter-spacing: 5px;
    margin-top: 40px;
    user-select: none;
}

#p1{
    font-size: 50px;
}

#p2{
    padding-top: 0px;
    letter-spacing: 1px;
    font-size: 18px;
    margin-top: 10px;
}

#p2 a{
    color: white;
    outline: none;
}

.imgPrev{
    width: 85%;
    border-radius: 0.75rem;
    border: 2px solid rgb(255, 240, 240);
    margin: 40px 0px 30px 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgPrev img{
    width: 100%;
    transform: scale(1.15);
}

#prevImg{
    filter: brightness(0.75);
}

#p3{
    font-family: cursive;
    position: absolute;
    top: 5%;
    left: 0%;
    font-size: 1rem;
    text-align: center;
    opacity: 0.75;
}

button{
    all: unset;
    cursor: pointer;
    font-size: 25px;
    color: aliceblue;
    border: 2px solid rgb(255, 240, 240);
    border-radius: 0.5rem;
    padding: 5px 10px 5px 10px;
    margin: 15px 20px;
    letter-spacing: 1px;
    user-select: none;
}

button:hover{
    background-color: rgba(0, 0, 0,0.5);
    font-weight: 500;
    scale: 1.05;
    transition: background-color 0.5s ease-in-out, scale 0.5s ease-in-out;
}

.hidden{
    display: none;
}

.uploadBtn{
    border-radius: 1rem;
    width: 25ch;
    aspect-ratio: 4;
    cursor: default;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5px;
    font-size: large;
    color: rgb(255, 240, 240);
    letter-spacing: 1px;
    margin: 5px 10px;
}

.uploadBtn img{
    cursor: pointer;
    border: 1px solid black;
    background-color: rgba(245, 222, 179,0.75);
    border-radius: 20%;
}

.uploadBtn img:hover{
    background-color: rgba(245, 222, 179,1);
    transition: background-color 0.25s ease-in-out;
}

#imgPrev2{
    display: none;
    max-width: 300px;
    border: 2px solid black;
    margin-left: 23px;
    margin-top: 20px;
    filter: brightness(0.75);
}

#useImg{
    border: 2px solid black;
    color: black;
    scale: 0.9;
    background-color: rgba(255, 255, 255, 0.25);
    font-weight: 500;
    visibility: hidden;
}

#useImg:hover{
    background-color: rgba(255, 255, 255, 0.75);
}

.metaData{
    width: 100%;
    min-height: 55vh;
    padding: 20px;
    border-radius: 0.25rem;
    margin-top: 25px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.25);
    backdrop-filter: blur(0px);
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.metadata-table{
    overflow-x: scroll;
}

@media only screen and (min-width: 321px){
    p{
        padding: 10px 20px 0px 20px;
    }
    #p3{
        top: 15%;
    }
    button{
        margin: 10px 20px;
    }
}

@media only screen and (min-width: 376px){
    p{
        padding: 5px 20px 0px 20px;
    }
    #p2{
        margin-top: 0px;
    }
    #p3{
        top: 20%;
    }
}

@media only screen and (min-width: 500px){
    p{
        text-align: left;
        margin-top: 10px;
    }
    #p3{
        font-size: x-large;
    }
}

@media only screen and (min-width: 625px){
    p{
        margin: 0px;
    }
    .imgPrev{
        width: 500px;
    }
    #p3{
        width: 20ch;
        top: 30%;
        left: 50px;
        font-size: xx-large;
    }
}

@media only screen and (min-width: 768px){
    .root,.child{
        width: 75vw;
    }
    .root{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #p1{
        font-size: 70px;
        overflow: visible;
        text-align: center;
    }
    #p2{
        overflow: visible;
        margin-top: 15px;
    }
    button{
        margin-bottom: -5px;
    }
}